<!doctype html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/image/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        
    </head>

    <body>
        <div class = "main-page">
        {{>header}}
        <p>This site uses Weatherstack and Mapbox API to find the current weather on any location</p>
        <p>This site is developed by Deepanshu Gadia</p>
        <img  class="portrait"  src="/image/me.jpg">
        </div>
        {{>footer}}

    </body>
</html>