<!doctype html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/image/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        
    </head>

    <body>
        <div class = "main-page">
        {{>header}}
        <p> {{help}}</p>
        <p>Contact :-</br> Deepanshu Gadia</br>
        <a href="mailto:gadiadeepanshu@gmail.com">Email</a></p>
        </div>

        {{>footer}}

    </body>
</html>