<!doctype html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/image/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>

    <body>
        <div class = "main-page">
        {{>header}}
        <p> {{help}}</p>
        </div>

        {{>footer}}

    </body>
</html>