<!doctype html>

<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/image/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    
    </head>

    <body>
        <div  class = "main-page">
              {{>header}}
              <p class="info">Get your weather here </p>
              <form class="input">
                  <input placeholder="Enter Location">
                  <button>Search</button>
                  
              </form>
              <p id="Message1"></p>
              <p id ="Message2"></p>
        </div>
        
        {{>footer}}
                <script src="/js/app.js"></script>
    </body>
</html>